:root {
    --yellow: #feffdf;
    --darkyellow: #ebcbae;
    --orange: #ffa952;
    --red: #ef5a5a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    height: 100vh;
    background-color: var(--yellow);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    background-color: var(--darkyellow);
    border-radius: 15px;
}

header {
    margin: 20px;
}

header h1 {
    font-weight: bold;
    color: #746f6f;
}
main {
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.form label {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    
}
.form input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffa952;
    transition: all .5s;
}

input:hover {
    background-color: #feffdf;
}
input:focus {
    outline: none;
    border: 2px solid #ef5a5a;
}

.score-percent {
    margin-left: 20px;
    font-size: 26px;
}

.count {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px;
}

.score-percent p {
    margin-left: 0px;
}

button {
    cursor: pointer;
    font-size: 20px;
}

.add {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    visibility: hidden;
}
.med {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #ffa952;
    background-color: var(--yellow);
    color: black;
    border-radius:  5px;
    transition: all .5s;
}

button:hover {
    background-color: var(--orange);
}
.archives {
    width: 90%;
    margin: 30px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.error {
    color: red;
    margin: 20px 10px;
    text-align: center;
    font-size: 20px;
    visibility: hidden;
}
.archives li {
    margin-left: 25px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
}

.score {
    display: none;
}

.archives li button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    border: none;
    background-color: var(--darkyellow);
    transition: all .5s;
}

.cross {
    display: none;
}

.remove-span {
    display: none;
}